[language-server.pyrefly]
command = "uvx"
args = ["pyrefly", "lsp"]

[language-server.ruff]
command = "uvx"
args = ["ruff", "server"]

[[language]]
name = "python"
language-servers = ["pyrefly", "ruff"]
